.wrapper {
   position: absolute;
   top: 172px;
   left: 200px;
   width: 258px;
   height: 460px;
   font-weight: bold;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   h1 {
      font-size: 64px;
   }
   img {
      cursor: pointer;
   }
   p {
      font-size: 18px;
   }
}
