.menuItem {
   background-color: transparent;
   width: 345px;
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 10px;
   .name {
      font-size: 22px;
   }
}
