.menu {
   position: absolute;
   top: 172px;
   right: 122px;
   background-color: #eee;
   padding: 40px 0;
   width: 345px;
   height: 679px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   box-shadow: 0px 0px 50px #cccccc;
}
